mixin videoBlock(video = {})
    .videoBlock
        video.videoBlock__thumnail(src=video.videoFile, controls=true)
        h4.videoBlock__title=video.title
        h6.videoBlcok__views=video.views
        h6.videoBlcok__description=video.description